@media (max-width: 992px) {
    .container {
        padding: 20px 50px;
    }

    .container:before {
        display: none;
    }

    header {
        padding: 0;
    }

    .icons .controls li {

        filter: invert(0);
    }

    .content .bannerText h2 {
        font-size: 30px;
    }

    .content {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .content .bannerImg {
        width: 100%;
        height: 40vh;
        margin: 20px 0;

    }

    .content .bannerText {
        max-width: 100%;
        padding-right: 0;
    }

    header ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 10;
        padding: 100px 0;
    }

    header.active ul{
        display: initial;
    }
    header ul li {
        padding: 20px;
        text-align: center;
    }

    header ul li a {
        color: #333 !important;
        font-size: 36px;
    }

    header ul li a:hover:before,
    header ul li a.active:before {
        width: 100%;
    }

    .menuIcon {
        display: initial;
        position: fixed;
        right: 50px;
        cursor: pointer;
        padding: 8px;
        z-index: 2000000;
        width: 34px;
        height: 34px;
        background: white url("./icons/menu-of-three-lines.png") no-repeat 6px;

    }

    header.active .menuIcon {
        background: white url("./icons/multiplication.png") no-repeat 6px;

    }
}
